.App {
  text-align: center;
}
.que{
  margin-top: 5em;
  background: #00ffac;
  text-align: center;
  padding: 10px;
}

.que h4{
  background: white;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bolder;
}

.que p{
  font-size: 1.3em;
  letter-spacing: .4px;
  padding: 0 0.8em;
}

.answer ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.answer li{
  border: 1.5px solid grey;
  width: 100%;
  display: flex;
  cursor: pointer;
  margin-bottom: 2em;
  transition: 0.3s ease;
}

.answer li p{
  margin: auto;
  flex: calc(100% - 75px);
  margin: auto 1em;
}
.answer li span{
  background-color: grey;
  flex:75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.answer li:hover{
  transform: scale(1.03);
}
.chosen{
  background-color: grey;
}

.s0{
  margin:3em;
}
.s0 ul{
  list-style-type: decimal;
}
.timer{
  display: inline-block;
  float: right;
  font-size: 1.5em;
  font-weight: 600;
  background-color: #f25037;
  padding: 10px;
  border-radius: 10px;
}